.loader {
    margin: auto;
    border: 2px solid #277cd0;
    border-radius: 50%;
    border-top: 2px solid #FF7A59;
    width: 20px;
    height: 20px;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@font-face {
    font-family: "Sansation_Regular";
    src: url('Sansation_Regular.ttf');
}


.font1{
    font-family: "Sansation_Regular";
}

body {
    background: url("../pics/bk.jpg") no-repeat top center;
    background-color: #1c2d61;
    font-family: "Sansation_Regular";
margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 14px;
    line-height: 1.42857143;
}

.main1
{
position: relative;
    background-color: #101c42;
    border-radius: 15px;
    margin-left: 25px;
opacity: 95%;


}

#last{

    margin-top: 30px;
}



.last {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    padding: 15px;
}




.last-update {
color: #202833 !important;
    height: 20px !important;
    display: inline-block !important;
    background-color: white !important;
    border: #202833 !important;
    border-radius: 7px !important;
       /*margin: 10px 100px 0 10px !important;*/
    padding: 12px 20px 25px 20px !important;
}

.inblock {
    text-align: center ;
    float: right ;
    margin-left: 15px ;
    padding: 10px ;
    border-radius: 5px ;

}




/*sidebar*/
.clearfix {
    clear: both;
}

.task{
margin-top: 15px;
    background-color: #e7e6ee;
    margin-left: 1px;
    background-color: #e7e6ee;
    border-radius: 15px;
    padding: 15px;

}


.headt{
float: left;
    margin-right: 65px;

}
.head{

    float: left;
    margin-right: 20px;
    margin-left: 2px;
}

.updateSide{

    margin: 20px 0 8px 1px;
    position: relative;

}


/*searchBar*/
.search{
    position: center;
    width: 50%;
    border: 1px solid #717271;
    padding: 10px;
    margin: 35px auto 5px auto;
    text-align: center;
    font-family: Sansation_Regular;
    color: white;
}
.search label{
    font-size: 25px;
    font-family: Sansation_Regular;
    color: white;

}
.total{
    margin-top: 15px;
    margin-bottom: 5px;
}
div {
    display: block;
}
.total div{
    display: inline-block;
    margin-left:13px ;
    margin-right:13px ;
}

.search input{
    margin: 5px auto 5px auto;
}
.send{
    width: 50%;
    position: center;
    padding: 10px;
    margin: 0px auto 35px auto;
    text-align: center;
    font-family: Sansation_Regular;
}




/*results*/
.result{
    padding-bottom: 15px;
    padding-top: 15px;
width: 95%;
    border: 1px solid #ffffff;
    border-radius: 12px;
    text-align: center;
    margin: auto;
}

.results{
    background-color: #c5d5e6;
    display: inline-block;
    width: 30%;
margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    margin-left: 5px;



}
.result1{
    margin-left: 15px;
    float: left;
    position: center ;
    padding: 10px;
border-radius: 15px;
}




/*
footer
*/

.footer{

    position: relative;
    bottom: 0px;
    left: 0px;
    width: 50%;
    padding:20px;
    margin-left: 10px;
    margin-top:15px ;

    color: #7d7a7a;
    /*margin-left: 20px;

    margin-bottom: 0px;*/

}

.pure-menu-separator {
    background-color: #dfdfdf;
    display: block;
    height: 1px;
    font-size: 0;
    margin: 7px 2px;
    overflow: hidden;
}
.pure-menu-horizontal li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

 .pure-u-6-24, .pure-u-17-24{
     margin: 15px;
     display: inline-block;
     letter-spacing: normal;
     word-spacing: normal;
     vertical-align: top;
     text-rendering: auto;
 }


 .pure-u-17-24 {
     width: 70%;
 }


 .pure-u-1-4, .pure-u-6-24 {
     width: 25%;
 }


 /*toggle*/



input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label.tog {
    cursor: pointer;
    text-indent: -9999px;
    width: 100px;
    height: 50px;
    background: grey;
    display: block;
    border-radius: 500px;
    position: relative;
}

label.tog:after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 45px;
    transition: 0.3s;
}

input:checked + label {
    background: #bada55;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label.tog:active:after {
    width: 65px;
}

/*second toggle*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
