.loader {
    margin: auto;
    border: 2px solid #277cd0;
    border-radius: 50%;
    border-top: 2px solid #FF7A59;
    width: 20px;
    height: 20px;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@font-face {
    font-family: "Sansation_Regular";
    src: url('Sansation_Regular.ttf');
}


.font1{
    font-family: "Sansation_Regular";
}

body {
    background: url("../pics/bk.jpg") no-repeat top center;
    background-color: #1c2d61;
    font-family: "Sansation_Regular";
margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 14px;
    line-height: 1.42857143;
}

.main1
{
position: relative;
    background-color: #101c42;
    border-radius: 15px;
    margin-left: 25px;
opacity: 95%;


}

#last{

    margin-top: 30px;
}



.last {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    padding: 15px;
}




.last-update {
color: #202833 !important;
    height: 20px !important;
    display: inline-block !important;
    background-color: white !important;
    border: #202833 !important;
    border-radius: 7px !important;
       /*margin: 10px 100px 0 10px !important;*/
    padding: 12px 20px 25px 20px !important;
}

.inblock {
    text-align: center ;
    float: right ;
    margin-left: 15px ;
    padding: 10px ;
    border-radius: 5px ;

}




/*sidebar*/
.clearfix {
    clear: both;
}

.task{
margin-top: 15px;
    background-color: #e7e6ee;
    margin-left: 1px;
    background-color: #e7e6ee;
    border-radius: 15px;
    padding: 15px;

}


.headt{
float: left;
    margin-right: 65px;

}
.head{

    float: left;
    margin-right: 20px;
    margin-left: 2px;
}

.updateSide{

    margin: 20px 0 8px 1px;
    position: relative;

}


/*searchBar*/
.search{
    position: center;
    width: 50%;
    border: 1px solid #717271;
    padding: 10px;
    margin: 35px auto 5px auto;
    text-align: center;
    font-family: Sansation_Regular;
    color: white;
}
.search label{
    font-size: 25px;
    font-family: Sansation_Regular;
    color: white;

}
.total{
    margin-top: 15px;
    margin-bottom: 5px;
}
div {
    display: block;
}
.total div{
    display: inline-block;
    margin-left:13px ;
    margin-right:13px ;
}

.search input{
    margin: 5px auto 5px auto;
}
.send{
    width: 50%;
    position: center;
    padding: 10px;
    margin: 0px auto 35px auto;
    text-align: center;
    font-family: Sansation_Regular;
}




/*results*/
.result{
    padding-bottom: 15px;
    padding-top: 15px;
width: 95%;
    border: 1px solid #ffffff;
    border-radius: 12px;
    text-align: center;
    margin: auto;
}

.results{
    background-color: #c5d5e6;
    display: inline-block;
    width: 30%;
margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    margin-left: 5px;



}
.result1{
    margin-left: 15px;
    float: left;
    position: center ;
    padding: 10px;
border-radius: 15px;
}




/*
footer
*/

.footer{

    position: relative;
    bottom: 0px;
    left: 0px;
    width: 50%;
    padding:20px;
    margin-left: 10px;
    margin-top:15px ;

    color: #7d7a7a;
    /*margin-left: 20px;

    margin-bottom: 0px;*/

}

.pure-menu-separator {
    background-color: #dfdfdf;
    display: block;
    height: 1px;
    font-size: 0;
    margin: 7px 2px;
    overflow: hidden;
}
.pure-menu-horizontal li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

 .pure-u-6-24, .pure-u-17-24{
     margin: 15px;
     display: inline-block;
     letter-spacing: normal;
     word-spacing: normal;
     vertical-align: top;
     text-rendering: auto;
 }


 .pure-u-17-24 {
     width: 70%;
 }


 .pure-u-1-4, .pure-u-6-24 {
     width: 25%;
 }




/*second toggle*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}







/*hover button construction */


*, *::before, *::after {
    box-sizing: border-box;
}
.mainx {
    text-align: center;
    padding-top: 100px;
}
/*.hamburger {
    position: relative;
    width: 70px;
    height: 70px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px;
}
.hamburger:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background: #f953c6;
    !* fallback for old browsers *!
    background: -webkit-linear-gradient(to right, #da2287, #f953c6);
    !* Chrome 10-25, Safari 5.1-6 *!
    background: linear-gradient(to right, #da2287, #f953c6);
    !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!
    transform: rotate(0deg);
    transition: all 0.4s cubic-bezier(0.54, -0.1, 0.57, 0.57);
}
.hamburger .hamburger-input {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
.hamburger .hamburger-line {
    width: 100%;
    background: #fff;
    height: 2px;
    display: block;
    border-radius: 6px;
    transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
    position: relative;
}
.hamburger .hamburger-line.first, .hamburger .hamburger-line.third {
    width: 50%;
}
.hamburger .hamburger-line.third {
    margin-left: 50%;
    transform-origin: left;
}*/
.menu-button-wrapper {
        position: relative;
        display: inline-block;
}
.menu-button-wrapper .item-list {
    position: absolute;
    top: 90px;
    transform: translateX(-50%) scale(0);
    transform-origin: center;
    transition: all 0.4s cubic-bezier(0.54, -0.1, 0.57, 0.57);
    background-color: #303242;
    color: #fff;
    width: 200px;
    left: 50%;
    padding: 15px 0;
    text-align: left;
    border-radius: 100px;
    font-weight: 300;
    opacity: 0;
    user-select: none;
}
.menu-button-wrapper .item-list div {
    padding: 10px 30px;
    cursor: pointer;
}
.menu-button-wrapper .menu-button {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.menu-button:checked ~ .item-list {
    transform: translateX(-50%) scale(1);
    border-radius: 20px;
    opacity: 1;
    user-select: auto;
}
.menu-button:checked ~ .icon-wrapper .hamburger-line.second {
    transform: rotate(-45deg);
}
.menu-button:checked ~ .icon-wrapper .hamburger-line.first {
    transform: translate(2px, 8px) rotate(-135deg);
}
.menu-button:checked ~ .icon-wrapper .hamburger-line.third {
    transform: translate(11px, -3px) rotate(-135deg);
}
.menu-button:checked ~ .icon-wrapper .hamburger:before {
    transform: rotate(45deg);
}
.signature-wrapper {
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
}
.signature-wrapper .signature-title {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #444;
}
.signature-wrapper .signature-link {
    color: #444;
    display: inline-block;
    margin: 20px 0 10px;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-decoration: none;
    border-bottom: solid 2px #444;
}

