.loader {
    margin: auto;
    border: 2px solid #277cd0;
    border-radius: 50%;
    border-top: 2px solid #FF7A59;
    width: 20px;
    height: 20px;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@font-face {
    font-family: "Sansation_Regular";
    src: url('Sansation_Regular.ttf');
}


.font1{
    font-family: "Sansation_Regular";
}

body {
    background: url("../pics/bk.jpg") no-repeat top center;
    background-color: #1c2d61;
    font-family: "Sansation_Regular";
margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 14px;
    line-height: 1.42857143;
}

.main1
{
position: relative;
    background-color: #101c42;
    border-radius: 15px;
    margin-left: 25px;
opacity: 95%;


}

#last{

    margin-top: 30px;
}



.last {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    padding: 15px;
}




.last-update {
color: #202833 !important;
    height: 20px !important;
    display: inline-block !important;
    background-color: white !important;
    border: #202833 !important;
    border-radius: 7px !important;
       /*margin: 10px 100px 0 10px !important;*/
    padding: 12px 20px 25px 20px !important;
}

.inblock {
    text-align: center ;
    float: right ;
    margin-left: 15px ;
    padding: 10px ;
    border-radius: 5px ;

}




/*sidebar*/
.clearfix {
    clear: both;
}

.task{
margin-top: 15px;
    background-color: #e7e6ee;
    margin-left: 1px;
    background-color: #e7e6ee;
    border-radius: 15px;
    padding: 15px;

}


.headt{
float: left;
    margin-right: 65px;

}
.head{

    float: left;
    margin-right: 20px;
    margin-left: 2px;
}

.updateSide{

    margin: 20px 0 8px 1px;
    position: relative;

}


/*searchBar*/
.search{
    position: center;
    width: 50%;
    border: 1px solid #717271;
    padding: 10px;
    margin: 35px auto 5px auto;
    text-align: center;
    font-family: Sansation_Regular;
    color: white;
}
.search label{
    font-size: 25px;
    font-family: Sansation_Regular;
    color: white;

}
.total{
    margin-top: 15px;
    margin-bottom: 5px;
}
div {
    display: block;
}
.total div{
    display: inline-block;
    margin-left:13px ;
    margin-right:13px ;
}

.search input{
    margin: 5px auto 5px auto;
}
.send{
    width: 50%;
    position: center;
    padding: 10px;
    margin: 0px auto 35px auto;
    text-align: center;
    font-family: Sansation_Regular;
}




/*results*/
.result{
    padding-bottom: 15px;
    padding-top: 15px;
width: 95%;
    border: 1px solid #ffffff;
    border-radius: 12px;
    text-align: center;
    margin: auto;
}

.results{
    background-color: #c5d5e6;
    display: inline-block;
    width: 30%;
margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    margin-left: 5px;



}
.result1{
    margin-left: 15px;
    float: left;
    position: center ;
    padding: 10px;
border-radius: 15px;
}




/*
footer
*/

.footer{

    position: relative;
    bottom: 0px;
    left: 0px;
    width: 50%;
    padding:20px;
    margin-left: 10px;
    margin-top:15px ;

    color: #7d7a7a;
    /*margin-left: 20px;

    margin-bottom: 0px;*/

}

.pure-menu-separator {
    background-color: #dfdfdf;
    display: block;
    height: 1px;
    font-size: 0;
    margin: 7px 2px;
    overflow: hidden;
}
.pure-menu-horizontal li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

 .pure-u-6-24, .pure-u-17-24{
     margin: 15px;
     display: inline-block;
     letter-spacing: normal;
     word-spacing: normal;
     vertical-align: top;
     text-rendering: auto;
 }


 .pure-u-17-24 {
     width: 70%;
 }


 .pure-u-1-4, .pure-u-6-24 {
     width: 25%;
 }




/*second toggle*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}







/*hover button construction */


*, *::before, *::after {
    box-sizing: border-box;
}
.mainx {
    /*text-align: center;*/
        padding:0 30px 30px 30px;
}

.menu-button-wrapper {
        position: relative;
        display: inline-block;
    left: 30px;
}
.menu-button-wrapper .item-list {
    position: absolute;
    top: 40px;
    transform: translateX(-50%) scale(0);
    /*transform-origin: center;*/
    transition: all 0.4s cubic-bezier(0.54, -0.1, 0.57, 0.57);
    background-color: #344bdc;
    color: #fff;
    width: 130px;
    left: 50%;
    padding: 15px 0;
    text-align: left;
    border-radius: 100px;
    font-weight: 300;
    opacity: 0;
    user-select: none;
}
.menu-button-wrapper .item-list span {
    display: inline-flex;
    padding: 10px 30px;
    cursor: pointer;
}
.menu-button-wrapper .menu-button {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.menu-button:checked ~ .item-list {
    transform: translateX(-50%) scale(1);
    border-radius: 20px;
    opacity: 1;
    user-select: auto;
}
.menu-button:checked ~ .icon-wrapper .hamburger-line.second {
    transform: rotate(-45deg);
}
.menu-button:checked ~ .icon-wrapper .hamburger-line.first {
    transform: translate(2px, 8px) rotate(-135deg);
}
.menu-button:checked ~ .icon-wrapper .hamburger-line.third {
    transform: translate(11px, -3px) rotate(-135deg);
}
.menu-button:checked ~ .icon-wrapper .hamburger:before {
    transform: rotate(45deg);
}
.inputLed {
    opacity: 100% !important;
    width:100% !important;
    height:100% !important;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: #d4d4d4;
    text-decoration: none
}
.inputLed:hover {
    color: #7996af;
    text-decoration: underline
}




/*check icon*/
.gg-check-o {
    margin-top: 4px;
    margin-left: 5px;
    box-sizing: border-box;
    position: inherit;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 13px;
    height: 11px;
    border: 1px solid;
    border-radius: 50px
}
.gg-check-o::after {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 1.5px;
    top: -1px;
    width: 3px;
    height: 5px;
    border-color: currentColor;
    border-width: 0 1px 1px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg)
}



/*led on off*/
.green {
    background-image: -webkit-linear-gradient(top, #13fB04 0%, #58e343 50%, #ADED99 100%);
}


.red {
    background-image: -webkit-linear-gradient(top, #656363 0%, #aba5a4 50%, #eae0dc 100%);
}


.led {
    border-radius: 2.5px;
    width: 5px;
    height: 5px;
    box-shadow: 0px 0px 1.5px black;
    margin: 2.5px;
    zoom: 2.5;
}

.led:after {
    display: block;
    content: '';
    margin-left: 0.5px;
    margin-right: 0.5px;
    width: 4px;
    height: 3px;
    -webkit-border-top-right-radius: 4px 3px;
    -webkit-border-top-left-radius: 4px 3px;
    -webkit-border-bottom-right-radius: 4px 3px;
    -webkit-border-bottom-left-radius: 4px 3px;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.2) 100%);
}

